<app-header />

<div class="dashboard-container">

  <div class="greeting">
    <h2>{{ greetingMessage }}, {{ user?.name }}!</h2>
  </div>

    <!-- Top Section -->

    <div class="top-section m-6">
      <div class="stat-box">
        <h3>Issued Books</h3>
        <p class="large-number">{{ issuedBook.length }}</p>
      </div>
  
      <div class="stat-box">
        <h3>Remaining limit</h3>
        <p class="large-number">{{ user?.bookIssueLimit }}</p>
      </div>
      

      <div class="stat-box">
        <h3>Outstanding Fine</h3>
        <p class="large-number">{{ user?.fine | currency:'INR' }}</p>
      </div>
    </div>
  <h3 class="mb-0 ml-6">Issued Book Details</h3>
    <!-- Table Section -->
    <div *ngIf="issuedBook.length > 0" class="p-mt-1 p-5 ml-2">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <table class="p-datatable p-shadow-3 p-5">
            <thead>
              <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Fine</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of issuedBook">
                <td>{{ book.bookName}}</td>
                <td>{{ book.author  }}</td>
                <td>{{ book.issueDate | date : "EEEE MMMM dd yyyy" }}</td>
                <td>{{ book.deadline | date : "EEEE MMMM dd yyyy"}}</td>
                <td [ngClass] = "book.status === 'overdue' ? 'overdue' : 'on-time'"> {{book.status}}</td>
                <td> {{book.fine | currency:'INR' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="issuedBook.length === 0" class="no-books-container">
      <h6 class="no-books-message">No book issued</h6>
    </div>