<app-header />
<div class="container mt-8 p-2">
  <div class="d-flex justify-content-between flex-wrap">
    <div
      *ngFor="let card of cards"
      class="card mr-3"
      [ngStyle]="{ flex: '1 1 30%', 'margin-bottom': '20px' }"
    >
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 200px; overflow: hidden"
      >
        <img
          [src]="card.image"
          class="card-img-top"
          alt="{{ card.title }}"
          style="max-width: 80%; height: 100%"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title text-3xl">{{ card.title }}</h5>
        <p class="card-text text-xl">{{ card.description }}</p>
        <button class="btn btn-primary p-3" (click)="navigateTo(card.route)">
          Go to {{ card.title }}
        </button>
      </div>
    </div>
  </div>
</div>
